.button {
    color: white;
    background-color: black;
    padding: 18px 32px;
    border-radius: 50px;
    width: 340px;
    border: none;
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', Arial, sans-serif;
}