.header {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  .header-top {
    justify-content: left;
    text-align: left;
    img {
      width: 88px;
    }
  }

  .header-title {
    text-align: left;
    font-size: 36px;
    padding: 32px 0;
    margin: 0;
  }
  .office-image {
    width: 100%;
  }
  .img-text {
    text-align: left;
    font-style: italic;
    text-decoration: none;
    font-size: 12px;
    padding: 0;
  }
}
