@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

body {      
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', Arial, sans-serif;
}

p{
   padding-bottom: 32px;
  font-family: 'Noto IKEA','Noto Sans','Roboto',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #484848;
  margin: 0;
}